In [1]:
#라이브러리 로드
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from datetime import datetime

%matplotlib inline

In [2]:
plt.rc("font", family="Malgun Gothic")
#마이너스 폰트 깨지는 문제에 대한 대처          
plt.rc("axes", unicode_minus=False)

In [3]:
#레티나 설정을 해주면 글씨가 좀 더 선명하게 보입니다.
#폰트의 주변이 흐릿하게 보이는 것을 방지합니다.
%config InlineBackend.figure_format = 'retina'

In [4]:
# 한글폰트 사용을 위해 설치
# 아래 모듈을 설치하고 불러오면 별도의 한글폰트 설정이 필요 없습니다.
!pip install koreanize-matplotlib

import koreanize_matplotlib

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: koreanize-matplotlib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.1.1)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)

In [5]:
df = pd.read_csv("data/dtg_01.csv") #encoding = "cp949"를 통해 한글 폰트를 에러 없이 가져올 수 있음.
df.shape #이렇게 양이 많은 데이터를 엑셀로 분석한다면 매우 느리고 에러가 발생할 수 있기 때문에 판다스가 유용하다.

C:\Users\USER\AppData\Local\Temp\ipykernel_11300\3638510082.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/dtg_01.csv") #encoding = "cp949"를 통해 한글 폰트를 에러 없이 가져올 수 있음.

(1033694, 32)

In [6]:
df.head(3)

,단말ID,차대번호,트립시작일,정보발생일,누적주행거리,일일주행거리,차량속도,RPM,브레이크상태,차량위치X,...,운전자코드,메시지생성일자,메시지생성시간,응답코드,데이터길이,수집유형,DTG정보수,차량코드,차량번호,Column1
0,1229496162,KMJKG18KPGC011086,2022-11-01 9:12:13,2022-11-01 9:11:48,1045469,0,0,125,1,0,...,9179345,2022-11-01,91245,0,4924,C,60,15,충남72아3043,NaN
1,1229496162,KMJKG18KPGC011086,2022-11-01 9:12:13,2022-11-01 9:11:51,1045469,0,0,275,0,0,...,9179345,2022-11-01,91245,0,4924,C,60,15,충남72아3043,NaN
2,1229496162,KMJKG18KPGC011086,2022-11-01 9:12:13,2022-11-01 9:11:52,1045469,0,0,665,0,0,...,9179345,2022-11-01,91245,0,4924,C,60,15,충남72아3043,NaN

In [32]:
# unique로 중복을 제거한 값을 보고 nunique로 그 개수를 세어본다. 
# ts: trip_start
ts = df["트립시작일"].unique()
ts

<DatetimeArray>
['2022-11-01 09:12:13', '2022-11-01 09:33:48', '2022-11-01 09:44:30',
 '2022-11-01 10:18:50', '2022-11-01 12:55:09', '2022-11-01 15:35:33',
 '2022-11-01 15:45:15', '2022-11-01 16:19:50', '2022-11-01 18:45:30',
 '2022-11-02 07:20:10',
 ...
 '2022-11-30 11:04:58', '2022-11-30 13:37:46', '2022-11-30 13:47:33',
 '2022-11-30 15:37:10', '2022-11-30 16:17:16', '2022-11-30 16:25:31',
 '2022-11-30 16:29:25', '2022-11-30 17:19:52', '2022-11-30 19:40:15',
 '2022-11-30 21:33:10']
Length: 381, dtype: datetime64[ns]

In [33]:
len(ts)

381

In [28]:
ts = df["트립시작일"].unique() #고유한 트립시작일 값을 넣은 trip_start 배열 선언
tlen = len(ts) # 고유한 트립시작일 값의 개수
tt = [[None for i in range(14)] for j in range(tlen)] #비어있는(모든 값이 None값으로 초기화된) trip_table 2차원 배열 선

In [29]:
for i in range(tlen):
    dt=df[df["트립시작일"]==ts[i]].copy() #data_table, 트립시작일 단위로 분류한 각 트립의 테이블(일회용)
    dt=dt.values #일회용 테이블의 2차원 배열화
    last = len(dt)-1 #위에서 만들어진 2차원 배열의 마지막 인덱스
    
    tt[i][0] = dt[0][2] #출발일시, 트립시작일과 동일한 값 적

    tt[i][1] = dt[last][3] #도착일시, 같은 트립시작일 중 가장 마지막의 정보 발생일

    tt[i][2] = dt[0][22] #운전자명, 운전자 코드 값

    tt[i][3] = dt[0][11] #DTG상태, 기기상태값

    tt[i][4] = int((datetime.strptime(dt[last][3],"%Y-%m-%d %H:%M:%S") - datetime.strptime(dt[0][2],"%Y-%m-%d %H:%M:%S")).total_seconds())
    #운행시간, (도착일시-트립시작일) 계산, 초단위로 변환 후 int 형으로 변환

    tt[i][5] = dt[last][4]-dt[0][4] #운행거리, (도착일시 시점의 누적주행거리 - 트립시작일 시점의 누적주행거리)

    tt[i][6] = 0 #최고속도, 초기화 후 반복문을 통해 max값 추출
    for j in range(last+1):
        if dt[j][6]>tt[i][6]:
            tt[i][6] = dt[j][6]

    sum = 0 
    for j in range(last+1):
        sum += dt[j][6]
        tt[i][7] = round(sum/(last+1),1) #평균속도, sum 초기화 후 반복문을 통해 

    tt[i][8] = 0 #최고RPM, 초기화 후 반복문을 통해 max값 추출
    for j in range(last+1):
        if dt[j][7]>tt[i][8]:
            tt[i][8] = dt[j][7]

    sum = 0 
    for j in range(last+1):
        sum += dt[j][7]
        tt[i][9] = round(sum/(last+1),1) #평균RPM, sum 초기화 후 반복문을 통해 평균값 계산

    tt[i][10] = dt[0][14] #최소전압 계산
    for j in range(last+1):
        if dt[j][14]<tt[i][10]:
            tt[i][10] = dt[j][14]

    tt[i][11] = 0 #최대전압 계산
    for j in range(last+1):
        if dt[j][14]>tt[i][11]:
            tt[i][11] = dt[j][14]

    tt[i][12] = 0 #과속시간, (과속한 후의 정보발생일 - 과속한 정보발생일), 초단
    for j in range(last+1):
        if dt[j][6]>110:
            tt[i][12] += (datetime.strptime(dt[j+1][3],"%Y-%m-%d %H:%M:%S") - datetime.strptime(dt[j][3],"%Y-%m-%d %H:%M:%S")).total_seconds()
            tt[i][12] = int(tt[i][12]) #int형으로 변환
            
    tt[i][13] = dt[last][4] #해당 트립에서의 최종 누적주행거리값

In [32]:

print(tt)

[['2022-11-01 9:12:13', '2022-11-01 9:15:31', 9179345, 0, 198, 0, 0, 0.0, 722, 498.7, 220, 285, 0, 1045469], ['2022-11-01 9:33:48', '2022-11-01 9:36:48', 9179345, 0, 180, 0, 9, 1.2, 765, 497.2, 205, 285, 0, 1045469], ['2022-11-01 9:44:30', '2022-11-01 10:05:55', 9179345, 0, 1285, 18, 102, 49.1, 1749, 873.1, 200, 285, 0, 1045487], ['2022-11-01 10:18:50', '2022-11-01 11:48:53', 9179345, 0, 5403, 110, 111, 73.0, 1963, 1140.8, 185, 285, 5, 1045597], ['2022-11-01 12:55:09', '2022-11-01 14:36:43', 9179345, 0, 6094, 110, 109, 64.8, 1889, 1054.0, 205, 285, 0, 1045707], ['2022-11-01 15:35:33', '2022-11-01 15:36:00', 9179345, 0, 27, 0, 10, 5.1, 755, 497.2, 200, 285, 0, 1045707], ['2022-11-01 15:45:15', '2022-11-01 16:07:11', 9179345, 0, 1316, 18, 109, 48.0, 1822, 950.3, 185, 285, 0, 1045725], ['2022-11-01 16:19:50', '2022-11-01 18:34:22', 9179345, 0, 8072, 110, 111, 48.8, 1929, 960.7, 205, 285, 11, 1045835], ['2022-11-01 18:45:30', '2022-11-01 20:21:15', 9179345, 0, 5745, 111, 111, 68.8, 1889, 1092.1, 240, 285, 4, 1045946], ['2022-11-02 7:20:10', '2022-11-02 7:22:17', 9179345, 0, 127, 0, 0, 0.0, 798, 493.1, 220, 285, 0, 1045946], ['2022-11-02 7:36:49', '2022-11-02 8:04:57', 9179345, 0, 1688, 18, 96, 37.7, 1837, 805.4, 200, 285, 0, 1045964], ['2022-11-02 8:19:26', '2022-11-02 9:54:59', 9179345, 0, 5733, 110, 111, 68.8, 1789, 1101.9, 205, 285, 12, 1046074], ['2022-11-02 10:45:16', '2022-11-02 10:45:37', 9179345, 0, 21, 0, 8, 2.6, 1116, 561.9, 200, 285, 0, 1046074], ['2022-11-02 10:48:48', '2022-11-02 12:46:15', 9179345, 0, 7047, 110, 109, 56.0, 1946, 965.7, 205, 285, 0, 1046184], ['2022-11-02 12:47:44', '2022-11-02 12:53:06', 9179345, 0, 322, 0, 9, 0.8, 1028, 154.9, 210, 280, 0, 1046184], ['2022-11-02 13:33:54', '2022-11-02 13:34:11', 9179345, 0, 17, 0, 13, 6.0, 851, 529.7, 220, 280, 0, 1046184], ['2022-11-02 13:45:51', '2022-11-02 14:06:34', 9179345, 0, 1243, 18, 107, 50.8, 1856, 974.0, 215, 285, 0, 1046202], ['2022-11-02 14:20:32', '2022-11-02 15:40:47', 9179345, 0, 4815, 93, 111, 68.8, 2017, 1103.0, 250, 285, 3, 1046295], ['2022-11-02 17:21:50', '2022-11-02 17:22:10', 9179345, 0, 20, 0, 6, 2.3, 798, 498.6, 215, 285, 0, 1046295], ['2022-11-02 17:29:05', '2022-11-02 18:48:43', 9179345, 0, 4778, 80, 109, 60.2, 1945, 1042.0, 195, 285, 0, 1046375], ['2022-11-02 18:48:47', '2022-11-02 19:06:55', 9179345, 0, 1088, 0, 0, 0.0, 1061, 872.9, 220, 280, 0, 1046375], ['2022-11-02 20:40:03', '2022-11-02 20:41:11', 9179345, 0, 68, 0, 6, 2.4, 786, 507.1, 215, 285, 0, 1046375], ['2022-11-02 20:49:09', '2022-11-02 22:01:28', 9179345, 0, 4339, 82, 110, 67.5, 1938, 1101.8, 205, 285, 0, 1046457], ['2022-11-03 7:57:57', '2022-11-03 8:14:26', 9179345, 0, 989, 0, 14, 0.5, 1092, 509.1, 210, 285, 0, 1046457], ['2022-11-03 8:19:08', '2022-11-03 10:11:14', 9179345, 0, 6726, 111, 109, 58.7, 1935, 1017.6, 215, 285, 0, 1046568], ['2022-11-03 11:39:00', '2022-11-03 11:39:10', 9179345, 11, 10, 0, 9, 7.5, 564, 528.0, 280, 285, 0, 1046568], ['2022-11-03 11:46:16', '2022-11-03 12:09:31', 9179345, 0, 1395, 17, 108, 45.3, 1848, 958.0, 215, 285, 0, 1046585], ['2022-11-03 12:18:58', '2022-11-03 13:45:30', 9179345, 0, 5192, 94, 111, 64.3, 1909, 1035.7, 205, 285, 7, 1046679], ['2022-11-03 14:40:33', '2022-11-03 14:41:14', 9179345, 0, 41, 0, 5, 2.1, 899, 507.3, 210, 285, 0, 1046679], ['2022-11-03 14:47:26', '2022-11-03 16:14:05', 9179345, 0, 5199, 80, 109, 55.1, 1983, 947.4, 185, 285, 0, 1046759], ['2022-11-03 17:19:19', '2022-11-03 17:19:51', 9179345, 0, 32, 0, 9, 3.8, 836, 502.2, 210, 285, 0, 1046759], ['2022-11-03 17:29:49', '2022-11-03 19:26:31', 9179345, 0, 7002, 81, 109, 41.5, 1897, 923.4, 210, 285, 0, 1046840], ['2022-11-03 20:11:51', '2022-11-03 20:12:14', 9179345, 0, 23, 0, 8, 2.3, 1124, 567.8, 235, 285, 0, 1046840], ['2022-11-03 20:18:42', '2022-11-03 21:31:54', 9179345, 0, 4392, 81, 111, 65.8, 1985, 1077.2, 205, 285, 4, 1046921], ['2022-11-04 7:10:52', '2022-11-04 7:15:39', 1, 0, 287, 0, 0, 0.0, 736, 492.4, 190, 290, 0, 1046921], ['2022-11-04 8:08:04', '2022-11-04 8:08:27', 1, 0, 23, 0, 7, 2.7, 790, 508.5, 175, 285, 0, 1046921], ['2022-11-04 8:20:35', '2022-11-04 9:55:56', 1, 0, 5721, 81, 109, 50.8, 1796, 1041.2, 205, 285, 0, 1047002], ['2022-11-04 9:55:59', '2022-11-04 10:09:36', 1, 11, 817, 0, 0, 0.0, 1063, 995.8, 220, 285, 0, 1047002], ['2022-11-04 11:30:33', '2022-11-04 11:32:59', 1, 0, 146, 0, 19, 2.8, 1129, 534.2, 215, 285, 0, 1047002], ['2022-11-04 11:33:00', '2022-11-04 13:16:44', 1, 0, 6224, 81, 109, 46.8, 1726, 949.1, 185, 285, 0, 1047083], ['2022-11-04 14:11:23', '2022-11-04 15:59:55', 1, 0, 6512, 82, 109, 44.8, 1801, 1010.0, 210, 285, 0, 1047165], ['2022-11-04 16:41:29', '2022-11-04 19:26:21', 1, 0, 9892, 114, 110, 41.4, 2048, 949.3, 180, 285, 0, 1047279], ['2022-11-04 19:54:53', '2022-11-04 20:36:05', 6987201, 0, 2472, 18, 104, 25.8, 1632, 730.3, 205, 285, 0, 1047297], ['2022-11-04 20:49:46', '2022-11-04 22:05:16', 6987201, 0, 4530, 93, 109, 73.3, 1594, 1082.1, 215, 285, 0, 1047390], ['2022-11-04 22:05:41', '2022-11-04 22:08:29', 6987201, 11, 168, 0, 0, 0.0, 0, 0.0, 250, 255, 0, 1047390], ['2022-11-05 7:50:36', '2022-11-05 7:56:06', 6987201, 0, 330, 0, 0, 0.0, 745, 496.4, 200, 285, 0, 1047390], ['2022-11-05 8:14:06', '2022-11-05 10:13:30', 6987201, 0, 7164, 81, 107, 40.5, 1722, 905.0, 210, 285, 0, 1047471], ['2022-11-05 11:09:46', '2022-11-05 11:10:32', 6987201, 0, 46, 0, 7, 2.6, 812, 518.3, 205, 285, 0, 1047471], ['2022-11-05 11:15:38', '2022-11-05 11:17:50', 6987201, 0, 132, 0, 5, 0.5, 856, 497.1, 245, 285, 0, 1047471], ['2022-11-05 11:21:47', '2022-11-05 11:22:21', 6987201, 0, 34, 0, 8, 3.5, 860, 562.3, 205, 285, 0, 1047471], ['2022-11-05 11:28:27', '2022-11-05 12:57:21', 6987201, 0, 5334, 81, 107, 54.5, 1667, 990.1, 215, 285, 0, 1047552], ['2022-11-05 14:31:44', '2022-11-05 14:32:19', 6987201, 0, 35, 0, 6, 2.0, 805, 505.3, 205, 285, 0, 1047552], ['2022-11-05 14:38:30', '2022-11-05 16:37:15', 6987201, 0, 7125, 111, 109, 55.5, 1985, 1009.9, 200, 285, 0, 1047663], ['2022-11-05 16:37:19', '2022-11-05 17:03:14', 6987201, 11, 1555, 0, 0, 0.0, 1062, 919.6, 205, 285, 0, 1047663], ['2022-11-05 17:28:17', '2022-11-05 17:28:45', 6987201, 0, 28, 0, 11, 5.5, 1109, 544.0, 275, 285, 0, 1047663], ['2022-11-05 17:33:49', '2022-11-05 18:04:39', 6987201, 0, 1850, 18, 99, 34.2, 1551, 841.9, 210, 285, 0, 1047681], ['2022-11-05 18:10:52', '2022-11-05 20:21:32', 6987201, 0, 7840, 110, 108, 50.4, 1669, 954.0, 205, 285, 0, 1047791], ['2022-11-05 20:47:07', '2022-11-05 22:30:39', 6987201, 0, 6212, 110, 107, 63.7, 1584, 1020.6, 215, 285, 0, 1047901], ['2022-11-05 22:30:58', '2022-11-05 22:32:59', 6987201, 11, 121, 0, 0, 0.0, 0, 0.0, 250, 255, 0, 1047901], ['2022-11-06 8:15:33', '2022-11-06 8:15:50', 1, 0, 17, 0, 6, 2.4, 762, 490.3, 205, 285, 0, 1047901], ['2022-11-06 8:17:53', '2022-11-06 8:20:11', 6987201, 0, 138, 0, 0, 0.0, 783, 493.8, 215, 285, 0, 1047901], ['2022-11-06 8:34:25', '2022-11-06 8:35:31', 6987201, 0, 66, 1, 9, 1.8, 957, 533.4, 195, 285, 0, 1047902], ['2022-11-06 8:42:28', '2022-11-06 9:06:50', 6987201, 0, 1462, 17, 108, 43.3, 1537, 862.5, 200, 285, 0, 1047919], ['2022-11-06 9:18:00', '2022-11-06 10:46:34', 6987201, 0, 5314, 100, 110, 67.0, 1663, 1065.5, 200, 285, 0, 1048019], ['2022-11-06 11:43:02', '2022-11-06 11:43:23', 6987201, 0, 21, 0, 6, 2.3, 756, 513.4, 215, 285, 0, 1048019], ['2022-11-06 11:48:58', '2022-11-06 13:00:13', 6987201, 0, 4275, 93, 109, 77.5, 1699, 1124.7, 220, 285, 0, 1048112], ['2022-11-06 13:05:10', '2022-11-06 13:26:45', 6987201, 0, 1295, 17, 104, 48.3, 1647, 942.4, 195, 285, 0, 1048129], ['2022-11-06 13:29:59', '2022-11-06 13:34:06', 6987201, 0, 247, 0, 5, 0.8, 856, 209.8, 210, 285, 0, 1048129], ['2022-11-06 14:32:55', '2022-11-06 14:35:20', 6987201, 0, 145, 0, 11, 1.1, 1161, 256.7, 190, 285, 0, 1048129], ['2022-11-06 14:40:23', '2022-11-06 14:41:07', 6987201, 0, 44, 1, 11, 3.1, 1053, 563.5, 220, 285, 0, 1048130], ['2022-11-06 14:45:34', '2022-11-06 15:07:31', 6987201, 0, 1317, 17, 104, 47.9, 1597, 943.9, 215, 285, 0, 1048147], ['2022-11-06 15:19:51', '2022-11-06 17:37:21', 6987201, 0, 8250, 105, 108, 45.3, 1606, 926.3, 210, 285, 0, 1048252], ['2022-11-06 17:46:50', '2022-11-06 19:22:15', 6987201, 0, 5725, 110, 108, 69.1, 1808, 1061.6, 250, 285, 0, 1048362], ['2022-11-06 19:25:43', '2022-11-06 19:49:28', 6987201, 0, 1425, 18, 96, 43.9, 1560, 894.3, 205, 285, 0, 1048380], ['2022-11-06 19:49:31', '2022-11-06 19:59:19', 6987201, 0, 588, 0, 0, 0.0, 1062, 1010.8, 200, 285, 0, 1048380], ['2022-11-07 6:33:48', '2022-11-07 6:37:17', 6987201, 0, 209, 0, 5, 1.1, 771, 497.7, 205, 285, 0, 1048380], ['2022-11-07 6:45:02', '2022-11-07 8:36:53', 6987201, 0, 6711, 111, 109, 59.1, 1677, 1024.1, 200, 285, 0, 1048491], ['2022-11-07 8:36:56', '2022-11-07 9:32:03', 6987201, 11, 3307, 0, 0, 0.0, 1062, 709.0, 220, 285, 0, 1048491], ['2022-11-07 10:00:41', '2022-11-07 10:01:31', 6987201, 0, 50, 0, 13, 6.5, 1294, 614.6, 215, 285, 0, 1048491], ['2022-11-07 10:08:22', '2022-11-07 11:43:47', 6987201, 0, 5725, 81, 109, 50.3, 1598, 959.5, 210, 285, 0, 1048572], ['2022-11-07 12:41:40', '2022-11-07 12:44:50', 6987201, 0, 190, 0, 8, 2.0, 857, 527.5, 220, 285, 0, 1048572], ['2022-11-07 12:49:09', '2022-11-07 14:11:11', 6987201, 0, 4922, 81, 109, 59.0, 1728, 993.1, 215, 285, 0, 1048653], ['2022-11-07 15:42:38', '2022-11-07 15:43:33', 6987201, 0, 55, 0, 13, 6.1, 1358, 720.8, 215, 285, 0, 1048653], ['2022-11-07 15:46:48', '2022-11-07 17:22:44', 6987201, 0, 5756, 110, 109, 68.7, 1638, 1073.4, 200, 285, 0, 1048763], ['2022-11-07 17:26:24', '2022-11-07 17:53:03', 6987201, 0, 1599, 18, 105, 39.3, 1658, 865.7, 215, 285, 0, 1048781], ['2022-11-07 18:49:40', '2022-11-07 18:49:57', 6987201, 0, 17, 0, 11, 2.4, 1178, 558.2, 215, 285, 0, 1048781], ['2022-11-07 18:57:29', '2022-11-07 19:22:03', 6987201, 0, 1474, 18, 107, 42.9, 1680, 887.3, 210, 285, 0, 1048799], ['2022-11-07 19:22:30', '2022-11-07 19:23:19', 6987201, 11, 49, 0, 7, 2.2, 772, 486.3, 220, 280, 0, 1048799], ['2022-11-07 19:34:50', '2022-11-07 20:56:03', 6987201, 0, 4873, 97, 108, 71.0, 1558, 1085.9, 210, 285, 0, 1048896], ['2022-11-07 20:57:00', '2022-11-07 21:00:30', 6987201, 11, 210, 0, 5, 0.4, 864, 169.1, 215, 285, 0, 1048896], ['2022-11-08 6:37:48', '2022-11-08 8:41:47', 6987201, 0, 7439, 81, 108, 39.0, 1748, 855.1, 210, 285, 0, 1048977], ['2022-11-08 9:51:23', '2022-11-08 9:52:08', 6987201, 0, 45, 0, 6, 3.6, 776, 532.4, 215, 285, 0, 1048977], ['2022-11-08 9:58:38', '2022-11-08 11:29:53', 6987201, 0, 5475, 81, 107, 53.1, 1812, 938.5, 210, 285, 0, 1049058], ['2022-11-08 13:01:00', '2022-11-08 13:01:27', 6987201, 0, 27, 0, 7, 2.1, 849, 516.7, 210, 285, 0, 1049058], ['2022-11-08 13:07:59', '2022-11-08 14:31:03', 6987201, 0, 4984, 81, 108, 58.0, 1672, 981.7, 215, 285, 0, 1049139], ['2022-11-08 14:35:25', '2022-11-08 14:36:31', 6987201, 0, 66, 0, 13, 4.4, 1256, 481.6, 215, 285, 0, 1049139], ['2022-11-08 14:41:57', '2022-11-08 14:43:27', 6987201, 0, 90, 0, 4, 0.9, 792, 495.5, 215, 285, 0, 1049139], ['2022-11-08 15:53:44', '2022-11-08 15:54:47', 6987201, 0, 63, 0, 5, 2.3, 773, 492.9, 200, 285, 0, 1049139], ['2022-11-08 15:56:22', '2022-11-08 17:57:01', 6987201, 0, 7239, 82, 106, 40.1, 1578, 897.7, 180, 285, 0, 1049221], ['2022-11-08 17:57:05', '2022-11-08 17:57:07', 6987201, 11, 2, 0, 0, 0.0, 0, 0.0, 255, 255, 0, 1049221], ['2022-11-08 18:50:20', '2022-11-08 18:51:33', 6987201, 0, 73, 0, 6, 1.0, 843, 499.6, 210, 285, 0, 1049221], ['2022-11-08 18:57:35', '2022-11-08 20:13:28', 6987201, 0, 4553, 80, 109, 63.1, 1615, 1021.1, 185, 285, 0, 1049301], ['2022-11-08 20:13:31', '2022-11-08 20:26:15', 6987201, 11, 764, 0, 0, 0.0, 1063, 1025.7, 200, 285, 0, 1049301], ['2022-11-09 6:21:44', '2022-11-09 6:32:09', 6987201, 0, 625, 0, 6, 0.3, 786, 499.7, 200, 285, 0, 1049301], ['2022-11-09 6:53:59', '2022-11-09 8:24:55', 6987201, 0, 5456, 81, 108, 53.3, 1638, 963.3, 195, 285, 0, 1049382], ['2022-11-09 8:25:00', '2022-11-09 9:14:54', 6987201, 11, 2994, 0, 0, 0.0, 1061, 792.9, 215, 285, 0, 1049382], ['2022-11-09 9:41:58', '2022-11-09 9:42:38', 6987201, 0, 40, 0, 16, 7.5, 1265, 668.9, 210, 285, 0, 1049382], ['2022-11-09 9:48:52', '2022-11-09 11:31:39', 6987201, 0, 6167, 111, 108, 64.2, 1578, 1010.3, 190, 285, 0, 1049493], ['2022-11-09 11:35:35', '2022-11-09 11:59:14', 6987201, 0, 1419, 18, 107, 44.1, 1653, 907.3, 215, 285, 0, 1049511], ['2022-11-09 12:34:57', '2022-11-09 12:35:50', 6987201, 0, 53, 0, 8, 2.7, 833, 539.3, 215, 285, 0, 1049511], ['2022-11-09 12:43:44', '2022-11-09 13:06:11', 6987201, 0, 1347, 18, 100, 46.9, 1644, 913.9, 190, 285, 0, 1049529], ['2022-11-09 13:18:29', '2022-11-09 14:37:25', 6987201, 0, 4736, 95, 112, 72.1, 1576, 1066.4, 210, 285, 15, 1049624], ['2022-11-09 15:59:21', '2022-11-09 16:01:28', 6987201, 0, 127, 0, 5, 0.8, 853, 348.9, 210, 285, 0, 1049624], ['2022-11-09 16:06:43', '2022-11-09 17:31:30', 6987201, 0, 5087, 81, 106, 56.9, 1581, 964.2, 200, 285, 0, 1049705], ['2022-11-09 17:38:16', '2022-11-09 17:44:59', 6987201, 0, 403, 0, 7, 0.5, 791, 499.8, 220, 285, 0, 1049705], ['2022-11-09 19:00:37', '2022-11-09 19:02:27', 6987201, 0, 110, 0, 7, 2.1, 790, 514.9, 210, 285, 0, 1049705], ['2022-11-09 19:07:53', '2022-11-09 20:29:54', 6987201, 0, 4921, 81, 106, 59.1, 1977, 973.4, 200, 285, 0, 1049786], ['2022-11-09 20:33:39', '2022-11-09 20:35:11', 6987201, 0, 92, 0, 0, 0.0, 0, 0.0, 250, 255, 0, 1049786], ['2022-11-10 6:16:29', '2022-11-10 6:18:13', 6987201, 0, 104, 0, 0, 0.0, 766, 489.9, 185, 285, 0, 1049786], ['2022-11-10 6:32:05', '2022-11-10 9:03:46', 6987201, 0, 9101, 132, 107, 51.8, 1534, 928.9, 205, 285, 0, 1049918], ['2022-11-10 9:08:04', '2022-11-10 9:09:23', 6987201, 0, 79, 0, 9, 3.0, 1012, 540.5, 275, 285, 0, 1049918], ['2022-11-10 9:10:02', '2022-11-10 9:11:49', 6987201, 0, 107, 0, 0, 0.0, 0, 0.0, 250, 260, 0, 1049918], ['2022-11-10 10:36:03', '2022-11-10 10:36:57', 6987201, 0, 54, 0, 11, 4.0, 1136, 609.9, 190, 285, 0, 1049918], ['2022-11-10 10:42:34', '2022-11-10 11:08:28', 6987201, 0, 1554, 18, 100, 40.8, 1670, 862.6, 205, 285, 0, 1049936], ['2022-11-10 11:18:17', '2022-11-10 12:46:48', 6987201, 0, 5311, 100, 109, 67.2, 1630, 1063.3, 200, 285, 0, 1050036], ['2022-11-10 13:40:37', '2022-11-10 13:41:24', 6987201, 0, 47, 0, 7, 2.1, 833, 511.8, 205, 285, 0, 1050036], ['2022-11-10 13:48:46', '2022-11-10 15:34:51', 6987201, 0, 6365, 110, 108, 62.1, 1585, 1001.8, 205, 285, 0, 1050146], ['2022-11-10 15:40:49', '2022-11-10 15:42:06', 6987201, 0, 77, 0, 7, 2.3, 846, 503.9, 205, 285, 0, 1050146], ['2022-11-10 16:02:16', '2022-11-10 16:03:38', 6987201, 0, 82, 0, 10, 2.3, 1013, 558.3, 215, 285, 0, 1050146], ['2022-11-10 16:36:01', '2022-11-10 16:41:07', 6987201, 11, 306, 0, 13, 1.0, 1365, 188.8, 205, 285, 0, 1050146], ['2022-11-10 16:43:48', '2022-11-10 17:13:18', 6987201, 0, 1770, 18, 98, 35.8, 1643, 857.5, 185, 285, 0, 1050164], ['2022-11-10 17:20:01', '2022-11-10 19:23:09', 6987201, 0, 7388, 97, 110, 46.9, 1678, 963.3, 215, 285, 0, 1050261], ['2022-11-10 19:23:12', '2022-11-10 21:31:57', 6987201, 11, 7725, 110, 108, 51.4, 1620, 1027.7, 215, 280, 0, 1050371], ['2022-11-10 21:32:14', '2022-11-10 21:33:32', 6987201, 11, 78, 0, 0, 0.0, 0, 0.0, 245, 255, 0, 1050371], ['2022-11-11 8:53:13', '2022-11-11 8:55:42', 6987201, 0, 149, 0, 5, 0.4, 729, 490.9, 195, 285, 0, 1050371], ['2022-11-11 9:31:04', '2022-11-11 9:31:16', 6987201, 11, 12, 0, 0, 0.0, 0, 0.0, 245, 245, 0, 1050371], ['2022-11-11 9:38:05', '2022-11-11 9:39:15', 6987201, 0, 70, 1, 13, 2.4, 974, 511.9, 190, 285, 0, 1050372], ['2022-11-11 9:42:41', '2022-11-11 10:08:28', 6987201, 0, 1547, 17, 106, 40.9, 1627, 882.8, 185, 285, 0, 1050389], ['2022-11-11 10:17:40', '2022-11-11 11:50:34', 6987201, 0, 5574, 111, 109, 70.8, 1577, 1087.2, 215, 285, 0, 1050500], ['2022-11-11 11:50:41', '2022-11-11 12:39:54', 6987201, 11, 2953, 0, 0, 0.0, 1062, 773.6, 215, 285, 0, 1050500], ['2022-11-11 12:52:07', '2022-11-11 14:53:59', 6987201, 0, 7312, 110, 109, 54.1, 1713, 944.0, 205, 280, 0, 1050610], ['2022-11-11 14:54:48', '2022-11-11 15:00:24', 6987201, 11, 336, 0, 8, 0.7, 839, 229.0, 215, 280, 0, 1050610], ['2022-11-11 15:36:13', '2022-11-11 15:37:09', 6987201, 0, 56, 0, 8, 3.2, 824, 555.4, 210, 280, 0, 1050610], ['2022-11-11 15:42:40', '2022-11-11 16:10:35', 6987201, 0, 1675, 18, 102, 37.8, 1598, 837.3, 215, 285, 0, 1050628], ['2022-11-11 16:18:31', '2022-11-11 19:18:06', 6987201, 0, 10775, 122, 109, 40.5, 1567, 868.3, 220, 285, 0, 1050750], ['2022-11-11 19:24:42', '2022-11-11 21:16:09', 6987201, 0, 6687, 113, 108, 60.7, 1623, 1000.2, 175, 285, 0, 1050863], ['2022-11-11 21:29:19', '2022-11-11 21:31:23', 6987201, 0, 124, 0, 0, 0.0, 856, 121.8, 215, 280, 0, 1050863], ['2022-11-12 7:27:12', '2022-11-12 8:12:50', 8730587, 0, 2738, 18, 92, 23.3, 1803, 600.6, 200, 285, 0, 1050881], ['2022-11-12 8:17:22', '2022-11-12 9:56:40', 8730587, 0, 5958, 110, 111, 66.3, 1907, 1095.9, 195, 285, 10, 1050991], ['2022-11-12 10:39:34', '2022-11-12 13:11:34', 8730587, 0, 9120, 115, 110, 44.9, 1981, 952.9, 185, 285, 0, 1051106], ['2022-11-12 13:36:48', '2022-11-12 13:38:31', 8730587, 0, 103, 0, 9, 2.1, 965, 469.8, 210, 285, 0, 1051106], ['2022-11-12 13:43:34', '2022-11-12 16:22:08', 8730587, 0, 9514, 110, 111, 41.7, 1865, 963.6, 220, 285, 6, 1051216], ['2022-11-12 17:21:37', '2022-11-12 19:06:19', 8730587, 0, 6282, 82, 108, 46.3, 2023, 916.4, 185, 285, 0, 1051298], ['2022-11-12 20:29:09', '2022-11-12 20:43:16', 8730587, 0, 847, 0, 5, 0.3, 826, 107.3, 185, 280, 0, 1051298], ['2022-11-12 20:47:35', '2022-11-12 22:31:59', 8730587, 0, 6264, 81, 108, 46.5, 1822, 956.9, 200, 280, 0, 1051379], ['2022-11-13 7:56:50', '2022-11-13 10:03:56', 8730587, 0, 7626, 114, 109, 53.7, 1933, 955.8, 200, 285, 0, 1051493], ['2022-11-13 10:04:05', '2022-11-13 10:14:18', 8730587, 11, 613, 0, 9, 0.4, 961, 341.8, 215, 285, 0, 1051493], ['2022-11-13 11:36:50', '2022-11-13 11:38:40', 8730587, 0, 110, 0, 6, 1.7, 777, 465.3, 185, 285, 0, 1051493], ['2022-11-13 11:41:49', '2022-11-13 14:11:13', 8730587, 0, 8964, 123, 119, 49.0, 1953, 1007.0, 210, 285, 41, 1051616], ['2022-11-13 14:11:16', '2022-11-13 14:33:14', 8730587, 11, 1318, 0, 0, 0.0, 1062, 1027.5, 195, 285, 0, 1051616], ['2022-11-13 14:41:33', '2022-11-13 16:13:49', 8730587, 0, 5536, 81, 109, 52.4, 1809, 987.8, 175, 285, 0, 1051697], ['2022-11-13 17:08:35', '2022-11-13 19:26:11', 8730587, 0, 8256, 81, 108, 35.3, 1913, 829.4, 180, 285, 0, 1051778], ['2022-11-13 20:06:31', '2022-11-13 21:44:16', 8730587, 0, 5865, 81, 111, 49.4, 1898, 931.0, 210, 285, 1, 1051859], ['2022-11-13 21:45:45', '2022-11-13 21:49:30', 8730587, 0, 225, 0, 0, 0.0, 0, 0.0, 245, 255, 0, 1051859], ['2022-11-14 7:38:14', '2022-11-14 7:41:27', 6987201, 0, 193, 0, 0, 0.0, 740, 496.8, 200, 285, 0, 1051859], ['2022-11-14 7:55:58', '2022-11-14 8:21:06', 6987201, 0, 1508, 0, 10, 0.2, 773, 27.0, 155, 285, 0, 1051859], ['2022-11-14 8:27:27', '2022-11-14 9:50:22', 6987201, 0, 4975, 81, 108, 58.3, 1554, 969.8, 195, 285, 0, 1051940], ['2022-11-14 9:51:19', '2022-11-14 9:54:16', 6987201, 11, 177, 1, 19, 4.3, 1166, 601.4, 190, 285, 0, 1051941], ['2022-11-14 11:31:01', '2022-11-14 11:32:46', 6987201, 0, 105, 0, 9, 3.7, 956, 604.2, 235, 285, 0, 1051941], ['2022-11-14 11:38:33', '2022-11-14 12:54:16', 6987201, 0, 4543, 80, 103, 63.3, 1623, 996.7, 215, 285, 0, 1052021], ['2022-11-14 14:12:25', '2022-11-14 14:13:09', 6987201, 0, 44, 0, 9, 3.6, 773, 502.2, 220, 285, 0, 1052021], ['2022-11-14 14:17:58', '2022-11-14 15:48:59', 6987201, 0, 5461, 82, 109, 53.3, 1625, 940.3, 205, 285, 0, 1052103], ['2022-11-14 16:40:07', '2022-11-14 16:41:40', 6987201, 0, 93, 0, 14, 4.2, 1343, 531.6, 190, 285, 0, 1052103], ['2022-11-14 16:48:02', '2022-11-14 18:44:15', 6987201, 0, 6973, 117, 108, 60.2, 1575, 1002.7, 215, 285, 0, 1052220], ['2022-11-14 20:03:49', '2022-11-14 20:08:37', 6987201, 0, 288, 0, 10, 0.6, 995, 503.7, 220, 285, 0, 1052220], ['2022-11-14 20:14:33', '2022-11-14 20:36:18', 6987201, 0, 1305, 18, 102, 48.4, 1518, 916.4, 205, 285, 0, 1052238], ['2022-11-14 20:50:12', '2022-11-14 22:03:07', 6987201, 0, 4375, 96, 109, 78.2, 1529, 1123.7, 215, 285, 0, 1052334], ['2022-11-15 8:10:32', '2022-11-15 10:02:34', 6987201, 0, 6722, 81, 10

In [33]:
col_name = ['출발일시', '도착일시', '운전자명', 'DTG 상태', '운행시간', '운행거리', '최고속도', '평균속도', '최고RPM', '평균RPM', '최소전압', '최대전압','과속시간', '누적주행거리']
tt = pd.DataFrame(tt, columns = col_name)

In [41]:
print(tt)

                    출발일시                 도착일시     운전자명  DTG 상태  운행시간  운행거리
0     2022-11-01 9:12:13   2022-11-01 9:15:31  9179345       0   198     0  \
1     2022-11-01 9:33:48   2022-11-01 9:36:48  9179345       0   180     0
2     2022-11-01 9:44:30  2022-11-01 10:05:55  9179345       0  1285    18
3    2022-11-01 10:18:50  2022-11-01 11:48:53  9179345       0  5403   110
4    2022-11-01 12:55:09  2022-11-01 14:36:43  9179345       0  6094   110
..                   ...                  ...      ...     ...   ...   ...
376  2022-11-30 16:25:31  2022-11-30 16:25:54  6987201       0    23     0
377  2022-11-30 16:29:25  2022-11-30 17:10:09  6987201       0  2444    18
378  2022-11-30 17:19:52  2022-11-30 19:13:00  6987201       0  6788    95
379  2022-11-30 19:40:15  2022-11-30 21:29:56  6987201       0  6581   112
380  2022-11-30 21:33:10  2022-11-30 21:36:23  6987201       0   193     0

     최고속도  평균속도  최고RPM   평균RPM  최소전압  최대전압  과속시간   누적주행거리
0       0   0.0    722   498.7   220   285     0  1045469
1       9   1.2    765   497.2   205   285     0  1045469
2     102  49.1   1749   873.1   200   285     0  1045487
3     111  73.0   1963  1140.8   185   285     5  1045597
4     109  64.8   1889  1054.0   205   285     0  1045707
..    ...   ...    ...     ...   ...   ...   ...      ...
376     6   2.4    792   504.4   215   285     0  1059993
377   105  26.0   1706   724.6   215   285     0  1060011
378   107  50.3   1536   943.2   210   285     0  1060106
379   106  61.0   1551   986.8   215   285     0  1060218
380     0   0.0      0     0.0   245   255     0  1060218

[381 rows x 14 columns]

In [43]:
df = pd.DataFrame.from_dict(tt)
df.to_csv('test.csv', index=False, encoding='utf-8-sig')

In [7]:
df['정보발생일'] = pd.to_datetime(df['정보발생일'])

# '기기상태' 열의 값을 정수로 변환
df['기기상태'] = df['기기상태'].astype(int)

# 에러 판단을 위한 루프
error_start_time = None
df['error'] = "NaN"  # 초기에 모든 행의 'error' 열은 NaN로 설정

for idx, row in df.iterrows():
    if row['기기상태'] == 11:
        if error_start_time is None:
            error_start_time = row['정보발생일']
        else:
            time_diff = row['정보발생일'] - error_start_time
            if time_diff.total_seconds() >= 900:  # 900초(15분) 이상인 경우 'error'로 판단
                df.loc[idx, 'error'] = True
    else:
        error_start_time = None

# 에러가 연속적으로 유지되는 경우를 찾아 'error' 열에 True로 표시합니다.

# 'error' 열의 변수 종류 확인
error_counts = df['error'].value_counts()

print(df)
print(error_counts)

               단말ID               차대번호                트립시작일
0        1229496162  KMJKG18KPGC011086   2022-11-01 9:12:13  \
1        1229496162  KMJKG18KPGC011086   2022-11-01 9:12:13
2        1229496162  KMJKG18KPGC011086   2022-11-01 9:12:13
3        1229496162  KMJKG18KPGC011086   2022-11-01 9:12:13
4        1229496162  KMJKG18KPGC011086   2022-11-01 9:12:13
...             ...                ...                  ...
1033689  1229496162  KMJKG18KPGC011086  2022-11-30 21:33:10
1033690  1229496162  KMJKG18KPGC011086  2022-11-30 21:33:10
1033691  1229496162  KMJKG18KPGC011086  2022-11-30 21:33:10
1033692  1229496162  KMJKG18KPGC011086  2022-11-30 21:33:10
1033693  1229496162  KMJKG18KPGC011086  2022-11-30 21:33:10

                      정보발생일   누적주행거리  일일주행거리  차량속도  RPM  브레이크상태      차량위치X
0       2022-11-01 09:11:48  1045469       0     0  125       1          0  \
1       2022-11-01 09:11:51  1045469       0     0  275       0          0
2       2022-11-01 09:11:52  1045469       0     0  665       0          0
3       2022-11-01 09:11:53  1045469       0     0  722       0          0
4       2022-11-01 09:11:54  1045469       0     0  543       0          0
...                     ...      ...     ...   ...  ...     ...        ...
1033689 2022-11-30 21:36:19  1060218     579     0    0       0  126302950
1033690 2022-11-30 21:36:20  1060218     579     0    0       0  126302949
1033691 2022-11-30 21:36:21  1060218     579     0    0       0  126302948
1033692 2022-11-30 21:36:22  1060218     579     0    0       0  126302948
1033693 2022-11-30 21:36:23  1060218     579     0    0       0  126302949

         ...     메시지생성일자  메시지생성시간  응답코드  데이터길이  수집유형  DTG정보수  차량코드       차량번호
0        ...  2022-11-01    91245     0   4924     C      60    15  충남72아3043  \
1        ...  2022-11-01    91245     0   4924     C      60    15  충남72아3043
2        ...  2022-11-01    91245     0   4924     C      60    15  충남72아3043
3        ...  2022-11-01    91245     0   4924     C      60    15  충남72아3043
4        ...  2022-11-01    91245     0   4924     C      60    15  충남72아3043
...      ...         ...      ...   ...    ...   ...     ...   ...        ...
1033689  ...  2022-11-30   213622     0   3038     C      37    15  충남72아3043
1033690  ...  2022-11-30   213622     0   3038     C      37    15  충남72아3043
1033691  ...  2022-11-30   213622     0   3038     C      37    15  충남72아3043
1033692  ...  2022-11-30   213622     0   3038     C      37    15  충남72아3043
1033693  ...  2022-11-30   213622     0   3038     C      37    15  충남72아3043

                                                   Column1  error
0                                                      NaN    NaN
1                                                      NaN    NaN
2                                                      NaN    NaN
3                                                      NaN    NaN
4                                                      NaN    NaN
...                                                    ...    ...
1033689                                                NaN    NaN
1033690                                                NaN    NaN
1033691                                                NaN    NaN
1033692                                                NaN    NaN
1033693  $('#load').hide();$('#success').show();NProgre...    NaN

[1033694 rows x 33 columns]
error
NaN     851831
True    181863
Name: count, dtype: int64

In [13]:
 # 기기상태 오류인 트립시작일 보기
df_error = df[df["error"]==True]

In [14]:
df_error

,단말ID,차대번호,트립시작일,정보발생일,누적주행거리,일일주행거리,차량속도,RPM,브레이크상태,차량위치X,...,메시지생성일자,메시지생성시간,응답코드,데이터길이,수집유형,DTG정보수,차량코드,차량번호,Column1,error
4718,1229496162,KMJKG18KPGC011086,2022-11-01 10:18:50,2022-11-01 11:08:07,1045545,75,98,1231,0,0,...,2022-11-01,110824,0,4924,C,60,15,충남72아3043,NaN,True
4719,1229496162,KMJKG18KPGC011086,2022-11-01 10:18:50,2022-11-01 11:08:08,1045545,75,97,1215,0,0,...,2022-11-01,110824,0,4924,C,60,15,충남72아3043,NaN,True
4720,1229496162,KMJKG18KPGC011086,2022-11-01 10:18:50,2022-11-01 11:08:09,1045545,75,96,1197,0,0,...,2022-11-01,110824,0,4924,C,60,15,충남72아3043,NaN,True
4721,1229496162,KMJKG18KPGC011086,2022-11-01 10:18:50,2022-11-01 11:08:10,1045545,75,95,1192,0,0,...,2022-11-01,110824,0,4924,C,60,15,충남72아3043,NaN,True
4722,1229496162,KMJKG18KPGC011086,2022-11-01 10:18:50,2022-11-01 11:08:11,1045545,75,94,1185,0,0,...,2022-11-01,110824,0,4924,C,60,15,충남72아3043,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494174,1229496162,KMJKG18KPGC011086,2022-11-15 10:12:11,2022-11-15 10:40:05,1052415,81,0,495,0,0,...,2022-11-15,104007,0,1890,C,23,15,충남72아3043,NaN,True
494175,1229496162,KMJKG18KPGC011086,2022-11-15 10:12:11,2022-11-15 10:40:06,1052415,81,0,497,0,0,...,2022-11-15,104007,0,1890,C,23,15,충남72아3043,NaN,True
494176,1229496162,KMJKG18KPGC011086,2022-11-15 10:12:11,2022-11-15 10:40:07,1052415,81,0,498,0,0,...,2022-11-15,104007,0,1890,C,23,15,충남72아3043,NaN,True
494177,1229496162,KMJKG18KPGC011086,2022-11-15 10:12:11,2022-11-15 10:40:08,1052415,81,0,498,0,0,...,2022-11-15,104007,0,1890,C,23,15,충남72아3043,NaN,True
494178,1229496162,KMJKG18KPGC011086,2022-11-15 10:12:11,2022-11-15 10:40:09,1052415,81,0,498,0,0,...,2022-11-15,104007,0,1890,C,23,15,충남72아3043,NaN,True

In [17]:
df_error_len = df_error["트립시작일"].unique()

In [18]:
len(df_error_len)

93

In [19]:
df_error["트립시작일"].unique()

array(['2022-11-01 10:18:50', '2022-11-01 12:55:09',
       '2022-11-01 16:19:50', '2022-11-01 18:45:30', '2022-11-02 8:19:26',
       '2022-11-02 10:48:48', '2022-11-02 13:45:51',
       '2022-11-02 14:20:32', '2022-11-02 17:29:05',
       '2022-11-02 20:49:09', '2022-11-03 7:57:57', '2022-11-03 8:19:08',
       '2022-11-03 11:39:00', '2022-11-03 12:18:58',
       '2022-11-03 14:47:26', '2022-11-03 17:29:49',
       '2022-11-03 20:18:42', '2022-11-04 8:20:35', '2022-11-04 9:55:59',
       '2022-11-04 11:33:00', '2022-11-04 14:11:23',
       '2022-11-04 16:41:29', '2022-11-04 20:49:46',
       '2022-11-04 22:05:41', '2022-11-05 8:14:06', '2022-11-05 14:38:30',
       '2022-11-05 16:37:19', '2022-11-05 18:10:52',
       '2022-11-05 20:47:07', '2022-11-05 22:30:58', '2022-11-06 9:18:00',
       '2022-11-06 11:48:58', '2022-11-06 13:05:10',
       '2022-11-06 14:45:34', '2022-11-06 15:19:51',
       '2022-11-06 17:46:50', '2022-11-07 6:45:02', '2022-11-07 8:36:56',
       '2022-11-07 10:08:22', '2022-11-07 12:49:09',
       '2022-11-07 15:46:48', '2022-11-07 17:26:24',
       '2022-11-07 18:57:29', '2022-11-07 19:22:30',
       '2022-11-07 19:34:50', '2022-11-08 6:37:48', '2022-11-08 9:58:38',
       '2022-11-08 13:07:59', '2022-11-08 15:56:22',
       '2022-11-08 17:57:05', '2022-11-08 18:57:35',
       '2022-11-08 20:13:31', '2022-11-09 6:53:59', '2022-11-09 9:48:52',
       '2022-11-09 12:43:44', '2022-11-09 13:18:29',
       '2022-11-09 19:07:53', '2022-11-10 6:32:05', '2022-11-10 10:42:34',
       '2022-11-10 11:18:17', '2022-11-10 13:48:46',
       '2022-11-10 16:36:01', '2022-11-10 16:43:48',
       '2022-11-10 17:20:01', '2022-11-10 19:23:12',
       '2022-11-10 21:32:14', '2022-11-11 9:31:04', '2022-11-11 9:42:41',
       '2022-11-11 10:17:40', '2022-11-11 11:50:41',
       '2022-11-11 19:24:42', '2022-11-12 7:27:12', '2022-11-12 8:17:22',
       '2022-11-12 10:39:34', '2022-11-12 13:43:34',
       '2022-11-12 17:21:37', '2022-11-12 20:47:35', '2022-11-13 7:56:50',
       '2022-11-13 10:04:05', '2022-11-13 11:41:49',
       '2022-11-13 14:11:16', '2022-11-13 14:41:33',
       '2022-11-13 17:08:35', '2022-11-13 20:06:31', '2022-11-14 8:27:27',
       '2022-11-14 9:51:19', '2022-11-14 11:38:33', '2022-11-14 14:17:58',
       '2022-11-14 16:48:02', '2022-11-14 20:14:33',
       '2022-11-14 20:50:12', '2022-11-15 8:10:32', '2022-11-15 10:12:11'],
      dtype=object)

In [22]:
df["운전자코드"].unique()

array([9179345,       1, 6987201, 8730587, 8033137], dtype=int64)

In [23]:
df["운전자코드"].nunique()

5

In [40]:
df['트립시작일'] = pd.to_datetime(df['트립시작일'])

# 운전자별로 어떤 날짜에 운전했는지 뽑아서 새로운 DataFrame 생성
driver_date_df = df.groupby('운전자코드')['트립시작일'].apply(list).reset_index()
driver_date_df.columns = ['운전자코드', '트립시작일']

# 결과 출력
print(driver_date_df)

     운전자코드                                              트립시작일
0        1  [2022-11-04 07:10:52, 2022-11-04 07:10:52, 202...
1  6987201  [2022-11-04 19:54:53, 2022-11-04 19:54:53, 202...
2  8033137  [2022-11-19 06:48:17, 2022-11-19 06:48:17, 202...
3  8730587  [2022-11-12 07:27:12, 2022-11-12 07:27:12, 202...
4  9179345  [2022-11-01 09:12:13, 2022-11-01 09:12:13, 202...

In [42]:
driver_date_df.to_csv('운전자코드 트립시작일.csv', index=False, encoding='utf-8-sig')

In [29]:
driver_date_df = df.drop_duplicates(subset=['운전자코드', df['트립시작일'].dt.date])
driver_date_df = driver_date_df[['운전자코드', '트립시작일']].reset_index(drop=True)

# 결과 출력
print(driver_date_df)

TypeError: unhashable type: 'Series'

In [30]:
# '트립시작일' 열을 datetime 형식으로 변환
df['트립시작일'] = pd.to_datetime(df['트립시작일'])

# 운전자별로 트립시작일을 그룹화하고 중복을 제거하여 각 운전자별로 고유한 날짜만 출력
driver_date_df = df.drop_duplicates(subset=['운전자코드', df['트립시작일'].dt.date])
driver_date_df = driver_date_df[['운전자코드', '트립시작일']].reset_index(drop=True)

# 결과 출력
print(driver_date_df)

TypeError: unhashable type: 'Series'

In [31]:
# 운전자별로 트립시작일을 그룹화하고 중복을 제거하여 각 운전자별로 고유한 날짜만 출력
unique_trip_start_dates = df.groupby('운전자코드')['트립시작일'].apply(lambda x: x.drop_duplicates()).reset_index(drop=True)

# 결과 출력
print(unique_trip_start_dates)

0     2022-11-04 07:10:52
1     2022-11-04 08:08:04
2     2022-11-04 08:20:35
3     2022-11-04 09:55:59
4     2022-11-04 11:30:33
              ...
377   2022-11-03 14:47:26
378   2022-11-03 17:19:19
379   2022-11-03 17:29:49
380   2022-11-03 20:11:51
381   2022-11-03 20:18:42
Name: 트립시작일, Length: 382, dtype: datetime64[ns]

In [38]:
ts['운전자코드'] = ts['운전자코드'].astype(int)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [36]:
df.groupby('운전자코드')['트립시작일']

TypeError: unhashable type: 'Series'